parameters:
    level: 2
    paths:
        - src
    excludePaths:
        - src/Contracts/*
    reportUnmatchedIgnoredErrors: false
    phpVersion: 70400
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics